#refresh {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    margin: 10px;
    text-align: center;
}

#refresh button {
    margin: 0;
    padding: 8px;
    line-height: 100%;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 8px black;
    transition: 50ms;
    text-align: center;
}

#refresh button:hover {
    background-color: #eee;
}

#refresh button:active {
    transform: rotate(180deg) translateY(-2px);
    box-shadow: 0 0 4px black;
}

.list-group-item {
    margin: 1px;
}

.list-group-item-custom:hover {
    background-color: #007BFF; /* Change to the desired background color on hover */
    color: #fff; /* Change to the desired text color on hover */
}

#city-search-input::placeholder {
    color: red;
}

button:focus, li:focus {
    border: 2px solid purple !important;
}

a {
    color: #bbb;
}

#weather-image {
    transform: scale(100%);
}

@media (max-width: 1080px) {
    .row {
        min-height: 100vh;
        color: #49afea;
    }
}